<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.oktemsec.pr5_abramovkotlin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PR5_AbramovKotlin">
        <activity
            android:name=".screens.Urugvai"
            android:exported="false" />
        <activity
            android:name=".screens.Columbia"
            android:exported="false" />
        <activity
            android:name=".screens.Chile"
            android:exported="false" />
        <activity
            android:name=".screens.Brazil"
            android:exported="false" />
        <activity
            android:name=".screens.Argentina"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>